Source: pibrushd
Section: admin
Priority: optional
Maintainer: Hamish Cunningham (http://gate.ac.uk/hamish/) <hamish@gate.ac.uk>
Build-Depends: debhelper (>= 8.0.0), devscripts, gawk
Standards-Version: 3.9.3
Homepage: http://pi.gate.ac.uk/
Vcs-Git: git://github.com/hamishcunningham/pi-tronics.git
Vcs-Browser: https://github.com/hamishcunningham/pi-tronics/tree/master/pibrush

Package: pibrushd
Architecture: all
Depends: ${misc:Depends}
Recommends: python-dev, python-pygame, python-numpy, python-rpi.gpio, i2c-tools, python-smbus
Description: PiBrush, a paint brush for the Pi
 PiBrush is an open source Linux daemon to run as a paint brush on the Pi.
 See http://pi.gate.ac.uk/pages/pibrush.html
