Package: simbamon-doc
Source: simbamon
Version: 1.0
Architecture: all
Maintainer: Hamish Cunningham <hamish@gate.ac.uk>
Installed-Size: 26
Section: admin
Priority: optional
Homepage: http://pi.gate.ac.uk/pages/mopi.html#simbamon
Description: documentation for simbamon
  SimBaMon is an open source Linux daemon for monitoring battery levels; sending
  warning messages to the user if the battery is low; shutting down cleanly at
  critical battery levels; managing a power supply on/off switch; writing
  relevant data to the system logs. See http://pi.gate.ac.uk/pages/mopi.html#simbamon
